<div style="background-color:aqua" class="bg-secondary">
    <h3>
        @Html.ActionLink("Customer List", "Index", "Customer") ||
        @Html.ActionLink("Create new", "Create", "Customer")
    </h3>
</div>