
@{
    ViewData["Title"] = "Admin";
}

<h1 style="color:blue">Administrator Page</h1>
<br />
<br />
<p>@Html.ActionLink("Show all News", "Index", "tbNews")</p>

<p>@Html.ActionLink("Add new News", "Create", "tbNews")</p>



