<div style="background-color:coral" class="bg-info">
    <h3>@Html.ActionLink("Customer List", "Index", "Customers")</h3>  
    ||
    <h3> @Html.ActionLink("Create new", "Create", "Customers")</h3>
</div>